body {
    font-family: Arial, sans-serif;
    transition: background 0.5s, color 0.5s;
}

body.day {
    background: url('../img/day.webp') no-repeat center center fixed;
    background-size: cover;
}

body.night {
    background: url('../img/night.webp') no-repeat center center fixed;
    background-size: cover;
}

.container, .controls-container {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    box-shadow: 2px 2px 12px #aaa;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
}

.controls-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.top-controls, .middle-controls, .bottom-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#achievementForm {
    margin-top: 20px;
}

#achievementForm input, #achievementForm textarea {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#achievementsList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.achievement {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 1px 1px 6px #aaa;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.achievement .delete-icon, .achievement .edit-icon {
    position: absolute;
    top: 5px;
    right: 25px;
    color: red;
    cursor: pointer;
}

.achievement .edit-icon {
    right: 45px;
    color: blue;
}

.achievement.dragging {
    opacity: 0.5;
}

.edit-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 12px #aaa;
    z-index: 1000;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#fileInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#fileInputContainer input[type="file"] {
    display: none;
}

#fileInputContainer label {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

#fileInputContainer label:hover {
    background-color: #45a049;
}

#fileName {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

#counter {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.default {
    background-color: #fff;
}

.done {
    background-color: #d4edda;
}

.not_done {
    background-color: #f8d7da;
}

#searchBar {
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
}

#sortOptions {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info p {
    margin: 0;
}
